
.heading {
    text-align: center;
    background: #261c1c;
    width: 300px;
    margin: 50px auto 31px;
    padding: 22px;
    border-radius: 18px;
    color: white;
}

.user_list {
    background: #2d1e1e;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    color: white;
}

.name_list {
    width: 200px;
    text-align: center;
    padding: 11px;
}

.attendance_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    background: #adf3f3;
}

.attendance_status_container {
    width: 200px;
}

.attendance_status {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 1px #c7c6c4;
    margin: 21px 0px;
}

.spinner{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-right: 4px solid #838080;
    border-bottom: 4px solid #838080;
    border-left: 4px solid #838080;
    border-top: 4px solid transparent;
    margin: auto;
    animation: loader 1s infinite linear;
}

@keyframes loader {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

@media (max-width:1200px) {
    .user_container {
        width: 100%;
    }
}

@media (width:1024px) {
    .attendance_status_container {
        width: 163px;
    }

    .attendance_status {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-radius: 7px;
        box-shadow: 0px 0px 3px 1px #c7c6c4;
        margin: 21px 0px;
        font-size: 14px;
    }

    .user_list {
        background: #2d1e1e;
        display: grid;
        grid-template-columns: repeat(6, 169px);
        align-items: center;
        justify-items: center;
        color: white;
    }
    .name_list {
        width: 200px;
        text-align: center;
        padding: 11px;
        font-size: 12px;
    }
}

@media (max-width:992px) {
    .user_container {
        width: 100%;
    }

    .user_item {
        display: flex;
        justify-content: center;
    }

    .user_list {
        background: #2d1e1e;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: baseline;
        justify-items: center;
        color: white;
    }

    .name_list {
        width: 200px;
        text-align: center;
        padding: 21px;
    }

    .attendance_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        background: #adf3f3;
        width: 300px;
    }
}

@media (max-width:776px) {
    .user_container {
        width: 100%;
    }

    .user_item {
        display: flex;
        justify-content: center;
    }

    .user_list {
        background: #2d1e1e;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: baseline;
        justify-items: center;
        color: white;
    }

    .name_list {
        width: 200px;
        text-align: center;
        padding: 21px;
    }

    .attendance_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        background: #adf3f3;
        width: 300px;
    }
}

@media (max-width:576px) {
    .user_container {
        width: 100%;
    }

    .user_item {
        display: flex;
        justify-content: center;
    }

    .user_list {
        background: #2d1e1e;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: baseline;
        justify-items: center;
        color: white;
    }

    .name_list {
        width: 143px;
        text-align: center;
        padding: 21px;
        font-size: 12px;
    }

    .attendance_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        background: #adf3f3;
    }

    .attendance_status {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-radius: 7px;
        box-shadow: 0px 0px 2px 0px #c7c6c4;
        margin: 21px 0px;
        font-size: 12px;
    }
}